server.port: 5601
server.host: "localhost"
server.publicBaseUrl: "http://{{ ansible_facts['default_ipv4']['address'] | default('127.0.0.1') }}:5601/"

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
