server.port: 5601
server.host: "51.250.72.84"
server.publicBaseUrl: "http://51.250.72.84:5601/"

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
